---
import SectionContainer from "./SectionContainer.astro"
import ItemProject from "./ProjectCard.astro"
import Title from "./Title.astro"

import TailwindIcon from "./icons/Tailwind.astro"
import AstroIcon from "./icons/astroIcon.astro"
import PreacIcon from "./icons/PreacIcon.astro"

const TAGS = {
    ASTRO: {
        name: "Astro",
        class: "bg-[#FF8E3C] text-white",
        icon: AstroIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon,
    },
    PREACT: {
    name: "Preact",
    class: "bg-[#673AB8] text-white",
    icon: PreacIcon,
},
}

const PROJECTS = [
    {
        title: "Portafolio Personal",
        tags:[TAGS.ASTRO,TAGS.TAILWIND],
        description: "Un portafolio personal para mostrar mis proyectos y habilidades. Desarrollado con Astro y Tailwind, uso de JS vanilla minimo, responsivo para todos los dispositivos.",
        image: "portafolio-personal.png",
        repo: "https://github.com/Arturooiwnl/mi-portafolio",
        demo: ""
    },
    {
        title: "Landing Page",
        tags:[TAGS.ASTRO,TAGS.TAILWIND],
        description: "Landing Page para un servidor de Minecraft. Desarrollado con Astro y Tailwind. Web totalmente animada y responsiva para todos los dispositivos.",
        image: "landing-page-glaciarmc.png",
        repo: "",
        demo: "https://glaciarmc.vercel.app/"
    },
]

---
<SectionContainer id="proyectos">

        <Title iconName="CodeIcon">Proyectos</Title>

        {PROJECTS.map(project => (
            <ItemProject 
              tags={project.tags}
              title={project.title}
              image={`/images/projects/${project.image}`}
              description={project.description}
              repo={project.repo}
              {...(project.demo?.trim() && { demo: project.demo })}
            />
          ))}
    </SectionContainer>